@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(335deg, #000000, #020102, #100f0f);
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
